    /*mobile css*/
    
    @media screen and (max-width: 768px) {
        /*common*/
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        .title,
        .collapse-body h3,
        .category-program .program-content p,
        .column-box.main-page .content-box,
        .column-box.main-page .cursor-box h3.title,
        .sw-title,
        .sw-name,
        .sw-class-kor,
        .entry-content p.img-caption,
        .content-box.prof {
            font-size: 14px;
        }
        body.active {
            overflow: hidden;
        }
        .mobile-only {
            display: block;
        }
        .desktop-only {
            display: none;
        }
        /*header*/
        .site-header {
            position: fixed;
            top: 0;
            left: 0;
            overflow: hidden;
            width: 100%;
            height: 55px;
            background-color: #fff;
            z-index:9999;
        }
        .gnb-close img,
        .site-header .gnb img {
            width: 48px;
        }
        .site-header .logo {
            position: absolute;
            top: 20px;
            right: 20px;
        }
        .site-header .logo img {
            width: 62px;
        }
        #m-navigation {
            padding: 20px;
            background-color: #fff;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: auto;
            opacity: 0;
            visibility: hidden;
        }
        body.active #m-navigation {
            opacity: 1;
            visibility: visible;
        }
        .menu-menu-2-container {
            padding: 60px 0 130px;
        }
        .menu-menu-2-container .sub-menu {
            margin: 0;
            padding: 30px 25px;
            display: none;
        }
        .menu-menu-2-container>ul>li:first-child.show .sub-menu {
            display: block;
        }

        .menu-menu-2-container .sub-menu li {
            padding: 0 0 5px;
            margin-left:15px;
        }
        .menu-menu-2-container .sub-menu li:first-child {
            margin-left:0;
        }
        .menu-menu-2-container .sub-menu li:hover a {
            transform: translateY(50%) rotate(15deg);
            -webkit-transform: translateY(50%) rotate(15deg);
            -moz-transform: translateY(50%) rotate(15deg);
            -ms-transform: translateY(50%) rotate(15deg);
            -o-transform: translateY(50%) rotate(15deg);
            transform-origin: center center;
            font-weight:900;
        }
        .menu-menu-2-container .sub-menu,
        .menu-menu-2-container>ul {
            border-top: 1px solid #ff0000;
        }
        .menu-menu-2-container>ul>li {
            border-bottom: 1px solid #ff0000;
        }
        .menu-menu-2-container>ul>li a {
            padding: 11px 0;
            display: block;
        }
        .menu-menu-2-container>ul>li>a {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center left;
            text-indent: -99999px;
        }
        .menu-menu-2-container>ul>li:first-child>a {
            position: relative;
            padding-right: 34px;
            background-image: url(/wp/wp-content/themes/snudesignweek/imgs/nav-works@2x.png);
            background-size: auto 10px;
        }
        .menu-menu-2-container>ul>li:nth-child(2)>a {
            background-image: url(/wp/wp-content/themes/snudesignweek/imgs/nav-identity@2x.png);
            background-size: auto 10px;
        }
        .menu-menu-2-container>ul>li:nth-child(3)>a {
            background-image: url(/wp/wp-content/themes/snudesignweek/imgs/nav_place.png);
            background-size: auto 10px;
        }
        .menu-menu-2-container>ul>li:nth-child(4)>a {
            background-image: url(/wp/wp-content/themes/snudesignweek/imgs/nav-program@2x.png);
            background-size: auto 10px;
        }
        .menu-menu-2-container>ul>li:nth-child(5)>a {
            background-image: url(/wp/wp-content/themes/snudesignweek/imgs/nav-thanksto@2x.png);
            background-size: auto 10px;
        }
        .menu-menu-2-container>ul>li:first-child>a:before {
            content: '';
            width: 34px;
            height: 1px;
            background-color: #ff0000;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
        .menu-menu-2-container>ul>li:first-child>a:after {
            content: '';
            width: 1px;
            height: 14px;
            background-color: #ff0000;
            position: absolute;
            top: 50%;
            right: 17px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
        .motion-poster .inner-center {
            padding-top: calc(100% - 40px);
        } 
        .menu-menu-2-container>ul>li:first-child.show>a:after {
            opacity: 0;
            visibility: hidden;
        }
        .site-header .gnb {
            position: absolute;
            top: 20px;
            left: 20px;
        }
        .site-header .gnb a {
            display: block;
            width: 42px;
            height: 16px;
            border-bottom: 1px solid #ff0000;
            line-height: 0;
        }
        .gnb-box:before {
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #ff0000;
        }
        .gnb-box:after {
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            top: 50%;
            left: 0;
            background-color: #ff0000;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
        .gnb-close a {
            width: 42px;
            height: 16px;
            display: block;
            line-height: 0;
            position: relative;
        }
        .gnb-close a:before {
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #ff0000;
            transform: rotate(20deg);
            -webkit-transform: rotate(20deg);
            -moz-transform: rotate(20deg);
            -ms-transform: rotate(20deg);
            -o-transform: rotate(20deg);
            transform-origin: center left;
        }
        .gnb-close a:after {
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #ff0000;
            transform: rotate(-20deg);
            -webkit-transform: rotate(-20deg);
            -moz-transform: rotate(-20deg);
            -ms-transform: rotate(-20deg);
            -o-transform: rotate(-20deg);
            transform-origin: center left;
        }
        /*intro*/
        .page-id-199 .site-main {
            margin: 0;
            padding: 0;
        }
        .intro-body h3 {
            bottom:0;
            position:fixed;
        }
        /* .go-to-main {
            z-index:101;
            position:relative;
        } */
        /* .intro-body h3 {
            height:50px;
        } */

        #intromobileVideo {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
            z-index: 99;
            overflow: hidden;
        }
    
        #intromobileVideo iframe {
            width: 100vw;
            height: 216.732vw;
            min-height: 100vh;
            min-width: 46.1399vh;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        /*main*/
        .cursor-box.mobile-only {
            width: 200px;
            height: 230px;
            margin: 0 auto;
            background-image: url(/wp/wp-content/themes/snudesignweek/imgs/element_grid@2x.png);
            background-size: 200px auto;
            background-position: center center;
            background-repeat: no-repeat;
            transition: all 0.3s ease-in;
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            -ms-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            position: relative;
        }
        /* .column-box.main-page .cursor-box h3.title {
            position: absolute;
            bottom: 30px;
            left: 0;
            padding: 0;
        } */
        .cursor-box.mobile-only.active {
            opacity: 0;
        }
        .cursor-box.mobile-only .cursor-axe {
            padding-top: 40px;
        }
        #radialVideo {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
            z-index: -1;
            overflow: hidden;
        }
        #radialVideo iframe {
            width: 100vw;
            height: 56.25vw;
            min-height: 100vh;
            min-width: 177.77vh;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .cursor-axe.item {
            position: absolute;
        }
        .dropped.cursor-axe.item {
            top: 0!important;
            left: 0!important;
            position: relative!important;
        }
        .draggable-source--is-dragging.cursor-axe.item {
            opacity: 0;
        }
        .random-axe {
            position: relative;
            width: calc(100% + 40px);
            margin-left: -20px;
        }
        .category .site-main,
        .page-id-16 .site-main,
        .site-main {
    		margin: 0 auto;
    		padding: 45px 20px 20px;
    		max-width: 100%;
        }
    	.page-id-14 .site-main {
       		max-width: 100%;
        }
        
    .single-content-head{
        width:100%;
    }

        .box-half {
            float: none;
            width: 100%;
            margin: 0;
            margin-bottom: 20px;
        }
        .program-content .box-half {
            margin-bottom:0;
        }
.page-id-9 .site-main {
    padding: 45px 20px 20px;
    max-width: 100%;
}
        .page-id-9 .column-box {
            padding: 80px 0 90px;
            left:0;
        }
        .sponsorsnu-box {
            position: relative;
            max-width: 100%;
            top: auto;
            right: auto;
        }
        .sponsorsnu-box ul {
            display:flex;
            justify-content:space-between;
        }
        .sponsorsnu-box ul li {
            width:15%;
        }
        .partners.cols-5 ul li img {
           
        }
        .partners.cols-5 ul li img.size-01 {
            width: 36px;
        }
        .partners.cols-5 ul li img.size-02 {
            width: 34px;
        }
        .partners.cols-5 ul li img.size-03 {
            width: 56px;
        }
        .partners.cols-5 ul li img.size-04 {
            width: 27px;
        }
        .partners.cols-5 ul li img.size-05 {
            width: 52px;
        }
        .partners.cols-5 ul li img.size-06 {
            width: 30px;
        }
        .partners.cols-5 ul li img.size-07 {
            width: 30px;
        }
        .partners.cols-5 ul li img.size-08 {
            width: 42px;
        }
        .partners.cols-5 ul li img.size-09 {
            width: 46px;
        }
        .partners.cols-5 ul li img.size-10 {
            width: 36px;
        }
        .partners.cols-5 ul li img.size-11 {
            width: 24px;
        }
        .partners.cols-5 ul li img.size-12 {
            width: 44px;
        }
        .partners.cols-5 ul li img.size-13 {
            width: 64px;
        } 
    .partners.cols-5 ul li img.size-14 {
        width: auto;
    }
    .partners.cols-5 ul li img.size-15 {
        width: auto;
    }

        .page-id-9 .main-ft {
            display:none;
        }
        .page-id-9 .site-footer {
            display: block;
            margin-bottom:20px;
        }
        .site-footer {
            text-align: center;
        }
        .pickaxe-activated #pickaxe {
            display:none;
        }
        /*works*/
        .single .site-main {
            padding-top: 50px;
        }
        .works-cate {
            z-index: 9;
            padding-top: 55px;
        }
        .works-cate .cate-nav-box {
            display: none;
        }
        .content-box.desc .box-half,
        .works .box-half {
            width: 100%;
        }
        .entry-content .img-subtitle.text-align-center, .template-type.type4 h3.img-subtitle {
            padding-bottom:7px;
        }
        .site-main .post-navigation {
            margin-bottom:0;
        }
        .content-box.desc .box-half.eng
         {
            width: 100%;
            padding-left: 0;
            margin-left: 0;
            border: 0;
            margin-bottom: 0;
            padding-bottom:20px;
        }
        .works-cate .box-half.eng {
            padding-bottom:20px;
        }
        .category-2 .works .box-half.eng {
            width: 100%;
            padding-left: 0;
            margin-left: 0;
            border: 0;
            margin-bottom: 0;
        }
        .name-gap {
            margin-left: 0;
            float: right;
        }
        .work-title {
            float: left;
            width: 49%;
        }
        .work-title:first-child {
            margin-right: 2%;
        }
        .content-box.prof .box-half.eng {
            text-align: left;
        }
        .content-box.prof .box-half {
            margin-bottom: 0;
        }
        .title-works {
            width: 100%;
        }
        .title-works article {
            position: relative;
            width: 31%;
            min-height: 66px;
            cursor: pointer;
            margin-right: 3.5%;
            margin-bottom: 10px;
        }
        .title-works article:nth-child(3n) {
            margin-right: 0;
        }
        .title-works article:nth-child(3n+1) {
            clear: left;
        }
        .title-works a.post-thumbnail {
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 1;
            visibility:visible;
            display: block;
            padding: 0;
        }
        .title-works a.post-thumbnail img {
            object-fit: cover;
            width:100%;
            height:100%;
        }
        .title-works article h1 {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
        }
        .title-works article:nth-child(3n+1) {
            clear: left;
        }
        .title-works article.active a.post-thumbnail {
            opacity: 0;
            visibility:hidden;
        }
        .tab-link {
            overflow: hidden;
        }
        .tab-link .title {
            float: left;
            width: 33.333%;
            cursor: pointer;
            padding-top: 0;
        }
        .student-works {
            padding-top:20px;
        }
        .student-works .title .eng {
            margin-left: 0;
        }
        .student-works .inner-center {
            padding-bottom: 0;
        }
        .tab-content {
            opacity: 0;
            visibility: hidden;
          
        }
        .tab-content.mobile-only {
            display:none;
        }
        .tab-content.show {
            opacity: 1;
            visibility: visible;
        }
        .tab-contents {
            position: relative;
        }
        .tab-contents .tab-content {
            position: relative;
            top: 0;
            left: 0;
        }
        .tab-contents .tab-content.mobile-only {
            /* padding-bottom:50px; */
        }
        .tab-contents .tab-content.title-works {
            /* padding-bottom: 50px; */
        }
        .column-box.works .title {
            text-align: left;
        }
        .column-box.works .title h1 {
            font-size: 15px;
            font-weight: 900;
        }
        .column-box.works .content-box {
            font-size: 15px;
            font-weight: 500;
        }
        .works .title .works-small {
            width: 242px;
        }
        .works .title .archive-small {
            width: 334px;
        }
        .content-box.desc {
            padding: 20px 0 0;
        }
        .inner-center {
            padding-bottom: 50px;
        }
        /*works single*/
        .message-group a.message-btn,
        .nav-previous .nav-subtitle,
        .nav-next .nav-subtitle,
        .student-works-footer ul li,
        .student-works-footer ul li.title-small,
        .student-works-footer ul li.underline,
        .entry-content .img-subtitle {
            font-size: 14px;
        }
        .single .site-header .gnb {
            display: none;
        }
        .btn-goback {
            top: -20px;
            left: 0;
        }
        .template-type {
            margin-bottom: 100px;
        }
        .img-caption {
            padding: 20px 20px 0;
        }
        .student-works-footer ul {
            margin: 0;
        }
        .student-works-footer ul li {
            float: right;
            width: 70%;
        }
        .student-works-footer ul li:first-child {
            float: left;
            width: 30%;
        }
        .nav-next .nav-subtitle {
            padding-left: 0;
            padding-top: 35px;
        }
        .nav-previous .nav-subtitle {
            padding-right: 0;
            padding-top: 35px;
        }
        .comments-area {
            width: 80%;
            margin: 0 auto;
            height:50%
        }
        .comments-area textarea {
            font-size:14px;
        }
        .comments-area p {
            padding-bottom:0;
        }
        .comments-area #author {
            width: 70%;
            margin-bottom:10px;
        }
        .comments-area a.close-btn {
            width:21px;
        }
        .title-works article .entry-title {
            padding: 0
        }
        .title-works article:hover .entry-title a {
            transform: translateY(0) rotate(0);
            -webkit-transform: translateY(0) rotate(0);
            -moz-transform: translateY(0) rotate(0);
            -ms-transform: translateY(0) rotate(0);
            -o-transform: translateY(0) rotate(0);
        }
        .img-carousel-container .slick-prev {
            left:0;
            background:rgba(255, 255, 255, 0.3);
            width:30px;
            height:40px;
        }
        .img-carousel-container .slick-next {
            right:0;
            background:rgba(255, 255, 255, 0.3);
            width:30px;
            height:40px;
        }
        /*identity*/
        .content-box.inline {
            display: block;
        }
        .inline .kor img,
        .inline .eng img {
            width: 100%;
            margin: 0;
            padding-top: 20px;
        }
        .inline .kor {
            text-align: left;
        }
        .content-box.cols-4 {
            padding: 0;
        }
        .content-box.cols-4 .inner-center {
            display: block;
            padding-bottom: 0;
        }
        .content-box.cols-4 .inner-center img {
            float: left;
            width: 48%;
            margin-right: 4%;
            margin-bottom: 15px;
            max-width:1000%;
        }
        .content-box.cols-4 .inner-center img:nth-child(2n) {
            margin-right: 0;
        }
        .content-box.cols-4 .inner-center img:nth-child(3),
        .content-box.cols-4 .inner-center img:nth-child(4) {
            margin-bottom: 0;
        }
        .column-box.identity {
            padding: 0px;
        }
        .column-box.identity .content-box {
            font-size: 14px;
            line-height: 1.8;
            padding-bottom: 10px;
        }
        .column-box.identity h1.title,
        .column-box.identity .inner-content.id-01 h3,
        .column-box.identity .content-box.cols-4 h3,
        .column-box.identity .content-box.motion-poster h3 {
            font-size: 17px;
            font-weight: 900;
            padding-bottom: 20px;
        }
        .column-box.identity h1.title {
            padding: 80px 0 20px 0;
        }
        .column-box.identity .inner-content.id-01 .inner-center h3 {
            font-size: 16px;
            font-weight: 500;
        }
        .column-box.identity .content-box.motion-poster h3 {
            padding-top: 100px;
        }
        .inline .kor img,
        .inner-content.id-01 img {
            width: 100%;
        }
        /*visit offline*/
        .column-box.visit {
            padding-top: 80px;
        }
        .visit .title {
            text-align: center;
            font-size: 17px;
            font-weight: 900;
        }
        .map-group .map-head.visit-info {
            position: relative;
            font-size: 16px;
        }
        .map-body .right {
            min-height: 250px;
        }
        .map-body {
            margin-top: 50px;
        }
        .map-body .left {
            padding: 0 30px 0 0;
        }
        /*program*/
        .collapse-body {
            /* padding: 50px 0 10px; */
            padding:0 0 10px;
        }
        .category-program .program-content.with-title {
            padding-top:0;
        }
        .category-program .program-content:last-child > div:last-child {
            padding-bottom:0;
        }
        .thanks .inner-center:last-child, .thanks .inner-center:last-child .partners {
            padding-bottom:0;
        }
        .category-program .site-main {
            padding: 100px 20px 20px;
        }
        .category-program .collapse-head.date-and-type {
            padding: 15px 10px !important;
            display: block;
        }
        .category-program .program-content {
            display: block;
        }
        .category-program .program-content .left {
            padding-right: 0;
            border: 0;
        }
        .category-program .program-content .right {
            padding-left: 0;
        }
        .category-program .program-content .right a {
            margin: 0 30px;
        }
        .category-program .programs {
            z-index: 9;
        }
        .category-program .collapse-head.date-and-type img:last-child {
            height: 8px;
            width: auto;
        }
        .category-program .program-content .right a img {
            width: 505px;
            padding-top: 20px;
        }
        .category-program .content-box.desc:after {
            display:none;
        }
        /*thanks to*/
        .thanks .inner-center {
            margin-bottom: 10px;
        }
        .thanks .partners.cols-7 ul li {
            width: auto;
        }
        .thanks .partners.cols-5 ul li {
            width: 20%;
            margin-bottom: 0;
        }
        .partners.cols-5 ul:first-child, .partners.cols-5 ul:last-child {
            margin-right:0;
        }
        .partners.cols-5 ul:nth-child(2) {
            margin-left: 0;
            margin-right:0;
        }
        .partners.cols-5 ul {
            display:flex;
            justify-content: space-around;
        }
        .partners.cols-5 ul:nth-child(2) li {
            width:14%;
        }
        .column-box {
            padding: 80px 0 0px;
        }
        .partners.cols-5 ul:first-child,
        .partners.cols-5 ul:last-child {
            margin-left: 0;
        }
        .column-box.thanks .inner-center .title {
            font-size: 17px;
        }
        .partners.unorder {
            display: inline-block;
        }
        .part-info .name:first-child {
            width: 44%;
        }
        .part-info .name:last-child {
            width: 56%;
        }
        /*Photowall*/
        body.page-id-2 .site-main {
            margin: 0;
            padding-top:100px;
        }
        body.page-id-2 .video-wrap {
            position: relative;
        }
        body.page-id-2 #photoVideo {
            background-image: url(./imgs/mobile_frame_top.png);
            background-size: 100% auto;
            background-position: top left;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        body.page-id-2 #photoVideo:after {
            background-image: url(./imgs/mobile_frame_bottom.png);
            background-size: contain;
            background-position: bottom left;
            background-repeat: no-repeat;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            /* z-index: 999; */
            z-index:9;
        }
        .page-id-2 #video-frame video {
            width: 100%;
            position: relative;
        }
        body.page-id-2 #video-frame {
            width: 100%;
            overflow: hidden;
            position: relative;
            clip-path: none;
        }
        body.page-id-2 #photoVideo {
            /* width: 100vw; */
            width: 100%;
            z-index: 9;
            padding-top: 0;
        }
        body.page-id-2 #photoVideo iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .page-id-2 .doclick,
        .page-id-2 .img-action {
            bottom:15%;
        }
        .page-id-2 .doclick {
            z-index: 9;
        }
        .page-id-2 .doclick img {
            height:40px;
            width:auto;
        }
        .category-program .collapse-head.date-and-type img.big-word {
            margin: 0 10px 0 0;
        }
        .category-program .collapse-head.date-and-type img.small-word {
            margin: 0;
        }
        #vtop {
            position:absolute;
            top:0;
            width:100%;
            left:0;
            overflow:hidden;
            height:38px;
            z-index:99;
            transform:rotate(180deg);
            -webkit-transform:rotate(180deg);
            -moz-transform:rotate(180deg);
            -ms-transform:rotate(180deg);
            -o-transform:rotate(180deg);
            white-space:nowrap;
}
        #vbottom {
           
            position:absolute;
            bottom:0;
            width:100%;
            left:0;
            overflow:hidden;
            height:38px;
            z-index:99;
            white-space:nowrap;
        }
        #vleft {
            position:absolute;
            top:38px;
            width:100vh;
            left:0;
            overflow:hidden;
            height:38px;
            z-index:99;
            transform:rotate(90deg) translateY(-38px);
            -webkit-transform:rotate(90deg) translateY(-38px);
            -moz-transform:rotate(90deg) translateY(-38px);
            -ms-transform:rotate(90deg) translateY(-38px);
            -o-transform:rotate(90deg) translateY(-38px);
            transform-origin:left top;
            white-space:nowrap;
}
#vright {
    position:absolute;
    top:0;
    width:100vh;
    right:0;
    overflow:hidden;
    height:38px;
    z-index:99;
    transform:rotate(-90deg) translateY(-38px);
    -webkit-transform:rotate(-90deg) translateY(-38px);
    -moz-transform:rotate(-90deg) translateY(-38px);
    -ms-transform:rotate(-90deg) translateY(-38px);
    -o-transform:rotate(-90deg) translateY(-38px);
    transform-origin:right top;
    white-space:nowrap;
}
        #vtop img {
    height: 38px;
    will-change: transform;
    animation: marquee 8s linear infinite;
    max-width: 999999px;
    -webkit-animation: marquee 8s linear infinite;
}
#vbottom img {
    height: 38px;
    will-change: transform;
    animation: marquee 8s linear infinite;
    max-width: 999999px;
    -webkit-animation: marquee 8s linear infinite;
}
#vleft img {
    height: 38px;
    will-change: transform;
    animation: marquee 8s linear infinite;
    max-width: 999999px;
    -webkit-animation: marquee 8s linear infinite;
}
#vright img {
    height: 38px;
    will-change: transform;
    animation: marquee 8s linear infinite;
    max-width: 999999px;
    -webkit-animation: marquee 8s linear infinite;
} 
          
          @keyframes marquee {
            from { transform: translateX(0); }
            to { transform: translateX(-100%); -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); }
          }
          
          .page-id-2 #photowall.snapped #images {
              z-index:100;
          }
          .page-id-2 .snapped .img-action {
              z-index:101;
          }
          .map-body .left li {
              float:none;
          }

          .single-head-wrap {
              position:relative;
          }
          .single-content-head {
              padding:0;
          }
          .single .content-box.desc {
              margin-top:0!important;
          }

          .btn-goback img {
              width:12px;
          }
          .message-group a.message-btn {
              margin-top:3px;
          }
          .works .inner-center img  {
              max-width:100%;
          }
    }